.page {
  inline-size: clamp(60vw, 650px, 90vw);
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: var(--main-font-size);
  font-family: var(--main-font), sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-block-size: 60vh;
  padding-block: 50px;
}

.header__title {
  font-family: var(--header-font), sans-serif;
  font-size: clamp(3rem, 1rem + 9.4444vw, 5.5rem);
  text-align: center;
  margin-block-end: 10px;
}

.header__details {
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding-inline: 10px;
  padding-block: 10px;
}

.header__details-summary {
  font-size: 1.2em;
}

.instruction li::before {
  content: "-";
}

.header__container {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr min-content;
  gap: 20px;
}

.header__range-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  grid-column: 1;
  grid-row: 2;
}

.header__password-input {
  font-family: var(--accent-font), monospace;
  font-weight: 600;
  font-size: 1.5em;
  grid-column: span 2;
  display: flex;
  inline-size: 100%;
}

.password {
  font-weight: 600;
  min-inline-size: 150px;
  inline-size: 100%;
  background-color: transparent;
  padding: 10px 3px 10px 10px;
  border: 3px solid;
  border-radius: 15px 0 0 15px;
  word-break: keep-all;
}

.header__password-input .copy-button {
  font-weight: 600;
  padding-inline: 20px;
  border: 3px solid;
  border-radius: 0 15px 15px 0;
  background-image: linear-gradient(to right, var(--bg-color), var(--hover-color));
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__password-input .copy-button:hover {
  background-color: var(--hover-color);
}

.header__password-input .copy-button:active {
  background-color: var(--active-color);
}

.header__inputRange {
  appearance: none;
  background: transparent;
  width: 95%;
}

.header__inputRange::-webkit-slider-thumb {
  appearance: none;
  margin-top: -7px;
  width: 15px;
  height: 15px;
  background: var(--main-color);
  transition: 0.3s;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.header__inputRange::-webkit-slider-runnable-track {
  appearance: none;
  height: 2px;
  align-items: center;
  box-shadow: none;
  border: none;
  background: rgba(100, 143, 199, 0.5);
}

.header__range-demo {
  text-align: center;
  padding: 10px;
  width: 20px;
}

.header__controls {
  display: flex;
  justify-content: space-between;
  grid-row: 2;
  grid-column: 2;
}

.controls-item {
  font-family: var(--main-font), sans-serif;
  inline-size: clamp(50px, 97px, 21vw);
  font-size: 1rem;
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding-block: 5px;
  padding-inline: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls-item:hover {
  background-color: var(--hover-color);
}

.controls-item:active {
  background-color: var(--active-color);
}

.copy-link {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.copy-link:hover {
  color: var(--hover-color);
}

.copy-link:active {
  color: var(--active-color);
}

.readyPasswords {
  display: flex;
  justify-content: normal;
  max-width: 100%;
  flex-direction: column;
}

.block-title {
  margin-block-start: 35px;
  margin-block-end: 15px;
}

.ready-passwords__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ready-passwords__list-item {
  width: 80%;
  position: relative;
}

.ready-password {
  display: block;
  inline-size: 100%;
  font-size: 20px;
  border: 1px solid var(--main-color);
  background-color: transparent;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: 100;
  border-radius: 15px;
  cursor: copy;
  transition: background-color 0.3s ease;
}

.ready-passwords__list-item::before {
  content: "Copy";
  position: absolute;
  right: 15px;
  color: var(--placeholder-color);
  font-size: 14px;
  margin-block-start: 8px;
  z-index: -1;
}

.ready-password:hover {
  background-color: var(--hover-color);
}

.ready-password:active {
  background-color: var(--active-color);
}

.password-check-block {
  max-width: 100%;
  margin-block-end: 50px;
}

.client-password-input-block {
  display: flex;
  gap: 10px;
}

.client-password__input {
  inline-size: 100%;
  background-color: transparent;
  color: var(--main-color);
  font-family: var(--accent-font), monospace;
  font-size: 1.5em;
  padding: 5px 15px 5px 15px;
  border: 1px solid;
  border-radius: 15px;
  border: 1px solid var(--main-color);
}

.client-password__input::placeholder {
  font-size: 18px;
  color: var(--placeholder-color);
}

.client-password-copy-button {
  font-family: var(--accent-font);
  inline-size: clamp(50px, 97px, 21vw);
  font-size: 1.5em;
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding-block: 5px;
  padding-inline: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.client-password-copy-button:hover {
  background-color: var(--hover-color);
}

.marking {
  margin-block: 10px;
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

@media (width <= 768px) {
  .header__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .header__title {
  line-height: 0.75em;
  }

  .header__password-input {
    grid-column: 1;
    grid-row: 1;
  }

  .header__range-block {
    grid-column: 1;
    grid-row: 2;
  }

  .header__controls {
    grid-column: 1;
    grid-row: 3;
    gap: 0;
  }

  .ready-passwords__list-item {
    inline-size: 100%;
  }

  .ready-password {
    inline-size: 100%;
  }

  .client-password__input {
    inline-size: 100%;
  }
}
