.page {
  inline-size: clamp(60vw, 650px, 90vw);
  margin: 0 auto;
  background-color: rgb(201, 224, 255);
  color: #234168;
  font-size: 16px;
  font-family: Calibri, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-block-size: 60vh;
  padding-block: 50px;
}

.header__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(3rem, 1rem + 9.4444vw, 5.5rem);
  text-align: center;
  margin-block-end: 10px;
}

.header__details {
  border: 1px solid #234168;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 10px;
}

.header__details-summary {
  font-size: 1.2em;
}

.instruction li::before {
  content: "-";
}

.header__container {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr min-content;
  gap: 20px;
}

.header__range-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  grid-column: 1;
  grid-row: 2;
}

.password {
  grid-column: span 2;
  font-family: "Courier New",monospace;
  font-weight: 600;
  min-width: 150px;
  max-width: 100%;
  font-size: 1.5em;
  background-color: transparent;
  padding: 10px;
  border: 3px solid;
  border-radius: 5px;
  word-break: keep-all;
}

.header__inputRange {
  -webkit-appearance: none;
  background: transparent;
  width: 95%;
}

.header__inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -7px;
  width: 15px;
  height: 15px;
  background: #234168;
  transition: 0.3s;
  border-radius: 50%;
  border: 2px solid #234168;
  cursor: pointer;
}

.header__inputRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
  align-items: center;
  box-shadow: none;
  border: none;
  background: #14253c81;
}

.header__range-demo {
  text-align: center;
  padding: 10px;
  width: 20px;
}

.header__controls {
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
  grid-row: 2;
  grid-column: 2;
}

.controls-item {
  font-family: Calibri, sans-serif;
  inline-size: clamp(50px, 97px, 21vw);
  font-size: 1rem;
  color: #234168;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 15px;
  cursor: pointer;
  border-color: #234168;
  transition: background-color 0.3s ease;
}

.controls-item:hover {
  background-color: #93c0fb;
}

.controls-item:active {
  background-color: #4c6d98;
}

.copy-link {
  text-decoration: underline;
  cursor: pointer;
}

.copy-link:hover {
  color: #93c0fb;
}

.copy-link:active {
  color: #4c6d98;
}

.readyPasswords {
  display: flex;
  justify-content: normal;
  max-width: 100%;
  flex-direction: column;
}

.block-title {
  margin-block: 35px;
}

.ready-passwords__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ready-passwords__list-item {
  width: 100%;
}

.ready-password {
  display: block;
  inline-size: 65%;
  font-size: 20px;
  border: 1px solid currentColor;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: 100;
  border-radius: 5px;
  cursor: copy;
  position: relative;
}

.ready-password:hover::after {
    content: 'Copy';
    position: absolute;
    right: 10px;
    color: rgba(35, 65, 104, 0.7);
    font-size: 14px;
    margin-block-start: 3px;
}

.ready-password:hover {
  background-color: #93c0fb;
}

.ready-password:active {
  background-color: #4c6d98;
}

.password-check-block {
  max-width: 100%;
  margin-block-end: 50px;
}

.client-password__input {
  inline-size: 65%;
  background-color: transparent;
  color: #234168;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  padding: 5px 15px 5px 15px;
  border: 1px solid;
  border-radius: 5px;
  border: 1px solid #234168;
}

.client-password__input::placeholder {
    font-size: 18px;
    color: rgba(35, 65, 104, 0.7);

}

.marking {
  margin-block: 10px;
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

@media (width <= 768px) {
  .header__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .password {
    grid-column: 1;
    grid-row: 1;
  }

  .header__range-block {
    grid-column: 1;
    grid-row: 2;
  }

  .header__controls {
    grid-column: 1;
    grid-row: 3;
    gap: 0;
  }

  .ready-password {
    inline-size: 100%;
  }

  .client-password__input {
    inline-size: 100%;
  }
}
